body {
font-family: Arial, Helvetica, sans-serif;
font-size: 15px;
text-align: center;
background:#1c1c1c; /*thisis the dark grey*/
color:white;
width: 100%;

}
@font-face {
font-family: 'blocusregular';
src: url('fonts/blocus-webfont.woff2') format('woff2'),
     url('fonts/blocus-webfont.woff') format('woff');
font-weight: normal;
font-style: normal;

}
@font-face {
font-family: 'voyageregular';
src: url('fonts/voyage-regular-webfont.woff2') format('woff2'),
     url('fonts/voyage-regular-webfont.woff') format('woff');
font-weight: normal;
font-style: normal;

}
.header{
font-family: blocusregular;
padding-bottom:80px;
padding-top:20px;
font-size: 40px;
text-align: center;
border-bottom:1px solid white;
padding: 40px;

}
.firsttitle{
border-top:1px solid white;
padding: 20px;
padding-bottom:200px;
padding-top:80px;
font-family: voyageregular;
font-size: 80px;
text-align: center;
line-height: 1;
/*z-index: 4;*/
}

.footer{


padding: 10%;
font-size: 12px;
text-align: center;
font-family: Arial, Helvetica, sans-serif;

/*line-height: 0.1;*/
/*z-index: 4;*/
}

.enter{
margin-left: auto; 
margin-right: auto;    width: 200px;
font-family: blocusregular;
margin-top: 80px;
margin-bottom:20%; 
font-size: 80px;
text-align: center;
border:1px solid white;
text-decoration: none;

}

.menuknop{
margin-left: auto; 
margin-right: auto;    
width: 80%;
float: left;
font-family: voyageregular;
padding: 5px;

margin:10%;
font-size: 60px;
text-align: center;
border:1px solid white;
text-decoration: none;
  

}

.menubundle{
  display: inline-block;

}

.link{
margin-left: auto; 
margin-right: auto;    
width: 200px;
text-align: center;
color: white;
text-decoration: none;
}

.link:hover { 
 /*color: #edd9be;*/
 color: red; 
} 
.menu{
position: relative;
float: right;
transform: rotate(90deg);
margin-left: auto; 
margin-right: auto;    width: 200px;
font-family: blocusregular;
/*padding-bottom:200px;*/
padding-top:20px;
margin-top: 80px;
margin-bottom: 80px;
font-size: 80px;
text-align: center;
border:2px solid white;
text-decoration: none;
}
* {
  box-sizing: border-box;





}
.menucontainer{
  /*background: linear-gradient(0deg, rgba(28,28,28,1) 38%, rgba(255,255,255,0) 100%);*/
  background: linear-gradient(0deg, rgba(28,28,28,1) 38%, rgba(0,0,0,0) 100%);
  position: fixed;
  width: 100%;
  height: 500px;
  bottom: 0%;
  float: bottom;
}


/*menuimages1 = POINT = back to menu*/
      .menuimages1{
        float: left;
        padding: 5px;
        display: grid;
        grid-gap: 20px;
        position: fixed;
        bottom:2%;
        left:1%;
      }



/*chapter 1 
/how christianity combined spiritual practices/ 
/the importance of ritual/ 
/wim hof the iceman / 
/using ancient knowledge to our advantgae*/


.menuimages22{
float: left;
display: grid;
grid-gap: 20px;
position: fixed;
bottom:2%;
left:22%;
}
.menuimages33{
  float: left; 
  display: grid;
  grid-gap: 20px;
  position: fixed;
  bottom:1%;
  left:38%;
}


.menuimages44{
  float: left; 
  display: grid;
  grid-gap: 20px;
  position: fixed;
  bottom:2%;
  left:58%;
}

  .menuimages55{
    float: left;
    padding: 5px;
    display: grid;
    grid-gap: 20px;
    position: fixed;
    bottom:1%;
    left:78%;
  }

/*chapter 2 burning burial baptism*/


      .menuimages2{
        float: left;
        
        display: grid;
        grid-gap: 20px;
        position: fixed;
        bottom:1%;
        left:25%;
      }
        .menuimages3{
          float: left;
          padding: 5px;
          display: grid;
          grid-gap: 20px;
          position: fixed;
          bottom:1%;
          left:45%;
        }

        
      .menuimages4{
        float: left;
        padding: 5px;
        display: grid;
        grid-gap: 20px;
        position: fixed;
        bottom:1%;
        left:65%;
      }

        



/*rotate is part of arrow in menu*/

.rotate{
     -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    padding-right: 200px;
}



.intro{
font-family: voyageregular;
margin-top: 80px;
margin-bottom: 40px;
margin-left: 20px;
font-size: 60px;
line-height: 60px;
text-align: left;
/*max-width: 80%;*/
width: 95%;
}


.bijschrift{
font-family: blocus;
margin-top: 20px;


font-size: 20px;
line-height: 20px;
text-align: left;
/*max-width: 80%;*/
width: 100%;
}

.plat{
font-family: arial;
margin-left: 20px;
font-size: 15px;
line-height: 18px;
line-height: 20px;
text-align: left;
padding-bottom: 70%;
max-width: 80%;
}


.title{
margin-left: auto; 
margin-right: auto;    
width: 800px;
float: center;
font-family: voyageregular;
padding: 5px;


margin-bottom: 80px;
font-size: 60px;
text-align: center;
border:2px solid white;
text-decoration: none;
}
.title2{
margin-left: auto; 
margin-right: auto;    
width: 400px;
float: center;
font-family: voyageregular;
padding: 5px;

margin-top: 80px;
margin-bottom: 80px;
font-size: 60px;
text-align: center;
border:1px solid white;
text-decoration: none;
  /*display: inline-block;*/

}

.chapter{
font-family: blocusregular;
padding-top:20px;
font-size: 120px;
color: #1c1c1c;
-webkit-text-stroke-width: 1px;
-webkit-text-stroke-color: white;
text-align: center;
/*line-height: 0.1;*/
/*z-index: 4;*/
}
.chapter2{
font-family: voyageregular;
padding-top:20px;
font-size: 50px;
color: white;
text-align: center;
/*line-height: 0.1;*/
/*z-index: 4;*/
}

img{
  display:inline;

}


span {
  color: transparent;
  animation: blur 10s ease-out infinite;
  -webkit-animation: blur 10s ease-out infinite;
}

span:nth-child(1) {
  animation-delay: 0.1s;
  -webkit-animation-delay: 0.1s;
}
span:nth-child(2) {
  animation-delay: 0.2s;
  -webkit-animation-delay: 0.2s;
}
span:nth-child(3) {
  animation-delay: 0.3s;
  -webkit-animation-delay: 0.3s;
}
span:nth-child(4) {
  animation-delay: 0.4s;
  -webkit-animation-delay: 0.4s;
}
span:nth-child(5) {
  animation-delay: 0.5s;
  -webkit-animation-delay: 0.5s;
}
span:nth-child(6) {
  animation-delay: 0.6s;
  -webkit-animation-delay: 0.6s;
}
span:nth-child(7) {
  animation-delay: 0.7s;
  -webkit-animation-delay: 0.7s;

}



@keyframes blur {
  0%    {text-shadow:  0 0 100px #fff; opacity:0;}
  5%    {text-shadow:  0 0 90px #fff;}
  15%   {opacity: 1;}
  20%   {text-shadow:  0 0 0px #fff;}
  80%   {text-shadow:  0 0 0px #fff;}
  85%   {opacity: 1;}
  95%   {text-shadow:  0 0 90px #fff;}
  100%  {text-shadow:  0 0 100px #fff; opacity:0;}

}

@-webkit-keyframes blur {
  0%    {text-shadow:  0 0 100px #fff; opacity:0;}
  5%    {text-shadow:  0 0 90px #fff;}
  15%   {opacity: 1;}
  20%   {text-shadow:  0 0 0px #fff;}
  80%   {text-shadow:  0 0 0px #fff;}
  85%   {opacity: 1;}
  95%   {text-shadow:  0 0 90px #fff;}
  100%  {text-shadow:  0 0 100px #fff; opacity:0;}

}



.container {
  font-family: voyageregular;
  position: relative;
  width: 100%;
  float: center;
  padding-top: 20%;
  padding-bottom: 20%;
  border-bottom:1px solid white;
font-size: 100px;
padding-left: 5%;
padding-right: 5%;

}

.glitch {
  color: white;
  position: relative;
float: center;
width: 100%;


font-family: voyageregular;
/*font-size: 80px;*/
text-align: center;
line-height: 1;
  animation: glitch 5s 5s infinite;
}

.glitch::before {
  content: attr(data-text);
  position: absolute;
  left: -2px;
  text-shadow: 0px 0 ;
  background: none;
  overflow: hidden;
  top: 0;
  animation: noise-1 3s linear infinite alternate-reverse, glitch 5s 5.05s infinite;
}

.glitch::after {
  content: attr(data-text);
  position: absolute;
  left: 2px;
  /*text-shadow: -5px 0 lightgreen;*/
  text-shadow: 0px 0 ;
  background: none;
  overflow: hidden;
  top: 0;
  animation: noise-2 3s linear infinite alternate-reverse, glitch 5s 5s infinite;
}

@keyframes glitch {
  1%{
    transform: rotateX(10deg) skewX(90deg);
  }
  2%{
    transform: rotateX(0deg) skewX(0deg);
  }
}

@keyframes noise-1 {
  $steps: 30;
  @for $i from 1 through $steps {
    #{percentage($i*(1/$steps))} {
      $top: random(100);
      $bottom: random(101 - $top);
      clip-path: inset(#{$top}px 0 #{$bottom}px 0);
    }
  }
}

@keyframes noise-2 {
  $steps: 30;
  @for $i from 0 through $steps {
    #{percentage($i*(1/$steps))} {
      $top: random(100);
      $bottom: random(101 - $top);
      clip-path: inset(#{$top}px 0 #{$bottom}px 0);
    }
  }
}

.scanlines {
  overflow: hidden;
  mix-blend-mode: difference;
}

.scanlines::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;

  /*background: repeating-linear-gradient(
    to bottom,
    transparent 0%,
    rgba(255, 255, 255, 0.05) .5%,
    
    transparent 1%*/
  );

  animation: fudge 7s ease-in-out alternate infinite;
}


@keyframes fudge {
  from {
    transform: translate(0px, 0px);
  }
  to {
    transform: translate(0px, 2%);
  }
}
/*
.glow {
  @extend .glitch;
  text-shadow: 0 0 1000px rgb(223, 191, 191);
  color: transparent;
  position: absolute;
  top: 0;
}*/



@keyframes glitch-2 {
  1%{
    transform: rotateX(10deg) skewX(70deg);
  }
  2%{
    transform: rotateX(0deg) skewX(0deg);
  }
}