body {
font-family: Arial, Helvetica, sans-serif;
/*font-weight: 100;*/
font-size: 15px;
text-align: center;
/*margin: 0;*/
/*background: #ededed;*/
background:#1c1c1c; /*thisis the dark grey*/
color:white;
width: 100%;

}
@font-face {
font-family: 'blocusregular';
src: url('fonts/blocus-webfont.woff2') format('woff2'),
     url('fonts/blocus-webfont.woff') format('woff');
font-weight: normal;
font-style: normal;

}
@font-face {
font-family: 'voyageregular';
src: url('fonts/voyage-regular-webfont.woff2') format('woff2'),
     url('fonts/voyage-regular-webfont.woff') format('woff');
font-weight: normal;
font-style: normal;

}
.header{
font-family: blocusregular;
padding-bottom:80px;
padding-top:20px;
font-size: 40px;
text-align: center;
/*line-height: 0.1;*/
/*z-index: 4;*/
}
.firsttitle{
border-top:2px solid white;
padding: 20px;
padding-bottom:200px;
padding-top:80px;
font-family: voyageregular;
font-size: 80px;
text-align: center;
line-height: 1;
/*z-index: 4;*/
}

.footer{

border-top:2px solid white;
padding: 20px;
font-size: 12px;
text-align: center;
font-family: Arial, Helvetica, sans-serif;

/*line-height: 0.1;*/
/*z-index: 4;*/
}

.enter{
margin-left: auto; 
margin-right: auto;    width: 200px;
font-family: blocusregular;
/*padding-bottom:200px;*/
padding-top:20px;
margin-top: 80px;
margin-bottom: 80px;
font-size: 80px;
text-align: center;
border:2px solid white;
text-decoration: none;
}

.menuknop{
margin-left: auto; 
margin-right: auto;    
width: 80%;
float: left;
font-family: voyageregular;
padding: 5px;

margin:10%;
font-size: 60px;
text-align: center;
border:2px solid white;
text-decoration: none;
}

.link{
margin-left: auto; 
margin-right: auto;    width: 200px;

text-align: center;
color: white;
text-decoration: none;
}

.link:hover { 
 color: #edd9be; 
} 
.menu{
position: relative;
float: right;
transform: rotate(90deg);
margin-left: auto; 
margin-right: auto;    width: 200px;
font-family: blocusregular;
/*padding-bottom:200px;*/
padding-top:20px;
margin-top: 80px;
margin-bottom: 80px;
font-size: 80px;
text-align: center;
border:2px solid white;
text-decoration: none;
}

.menuimages{
float: right;
width: 200px;
  clear:right;
float: right;  
padding-top: 40px;
padding-right: 20px;


}

.intro{
font-family: voyageregular;
margin-top: 80px;
margin-bottom: 40px;
margin-left: 20px;
font-size: 60px;
line-height: 60px;
text-align: left;
max-width: 80%;
}

.plat{
font-family: arial;
margin-left: 20px;
font-size: 15px;
line-height: 18px;
line-height: 20px;
text-align: left;

max-width: 80%;
}


.title{
margin-left: auto; 
margin-right: auto;    
width: 800px;
float: center;
font-family: voyageregular;
padding: 5px;

margin-top: 80px;
margin-bottom: 80px;
font-size: 60px;
text-align: center;
border:2px solid white;
text-decoration: none;
}
.title2{
margin-left: auto; 
margin-right: auto;    
width: 400px;
float: center;
font-family: voyageregular;
padding: 5px;

margin-top: 80px;
margin-bottom: 80px;
font-size: 60px;
text-align: center;
border:2px solid white;
text-decoration: none;
  /*display: inline-block;*/

}

.chapter{
font-family: blocusregular;
padding-top:20px;
font-size: 50px;
color: #1c1c1c;
-webkit-text-stroke-width: 1px;
-webkit-text-stroke-color: white;
text-align: center;
/*line-height: 0.1;*/
/*z-index: 4;*/
}

img{
  display:inline;

}

