body {
font-family: Arial, Helvetica, sans-serif;
font-size: 30px;
text-align: center;
background:#1c1c1c; /*thisis the dark grey*/
color:white;
width: 100%;

}
@font-face {
font-family: 'blocusregular';
src: url('fonts/blocus-webfont.woff2') format('woff2'),
     url('fonts/blocus-webfont.woff') format('woff');
font-weight: normal;
font-style: normal;

}
@font-face {
font-family: 'voyageregular';
src: url('fonts/voyage-regular-webfont.woff2') format('woff2'),
     url('fonts/voyage-regular-webfont.woff') format('woff');
font-weight: normal;
font-style: normal;

}
.header{
font-family: blocusregular;
padding-bottom:80px;
padding-top:20px;
font-size: 40px;
text-align: center;
border-bottom:1px solid white;
padding: 40px;

}
.firsttitle{
border-top:1px solid white;
padding: 20px;
padding-bottom:200px;
padding-top:80px;
font-family: voyageregular;
font-size: 80px;
text-align: center;
line-height: 1;
/*z-index: 4;*/
}

.footer{


padding: 10%;
font-size: 12px;
text-align: center;
font-family: Arial, Helvetica, sans-serif;

/*line-height: 0.1;*/
/*z-index: 4;*/
}

.enter{
margin-left: auto; 
margin-right: auto;    width: 200px;
font-family: blocusregular;
margin-top: 80px;
margin-bottom:20%; 
font-size: 80px;
text-align: center;
border:1px solid white;
text-decoration: none;

}

.menuknop{
margin-left: auto; 
margin-right: auto;    
width: 80%;
float: left;
font-family: voyageregular;
padding: 5px;

margin:10%;
font-size: 60px;
text-align: center;
border:1px solid white;
text-decoration: none;
  

}

.menubundle{
  display: inline-block;

}

.link{
margin-left: auto; 
margin-right: auto;    
width: 200px;
text-align: center;
color: white;
text-decoration: none;
}

.link:hover { 
 /*color: #edd9be;*/
 color: red; 
} 
.menu{
position: relative;
float: right;
transform: rotate(90deg);
margin-left: auto; 
margin-right: auto;    width: 200px;
font-family: blocusregular;
/*padding-bottom:200px;*/
padding-top:20px;
margin-top: 80px;
margin-bottom: 80px;
font-size: 80px;
text-align: center;
border:2px solid white;
text-decoration: none;
}
* {
  box-sizing: border-box;





}
.menucontainer{
  /*background: linear-gradient(0deg, rgba(28,28,28,1) 38%, rgba(255,255,255,0) 100%);*/
  background: linear-gradient(0deg, rgba(28,28,28,1) 38%, rgba(0,0,0,0) 100%);
  position: fixed;
  width: 100%;
  height: 500px;
  bottom: 0%;
  float: bottom;
}


/*menuimages1 = POINT = back to menu*/
      .menuimages1{
        float: left;
        padding: 5px;
        display: grid;
        grid-gap: 20px;
        position: fixed;
        bottom:2%;
        left:1%;
      }



/*chapter 1 
/how christianity combined spiritual practices/ 
/the importance of ritual/ 
/wim hof the iceman / 
/using ancient knowledge to our advantgae*/


.menuimages22{
float: left;
display: grid;
grid-gap: 20px;
position: fixed;
bottom:2%;
left:22%;
}
.menuimages33{
  float: left; 
  display: grid;
  grid-gap: 20px;
  position: fixed;
  bottom:1%;
  left:38%;
}


.menuimages44{
  float: left; 
  display: grid;
  grid-gap: 20px;
  position: fixed;
  bottom:2%;
  left:58%;
}

  .menuimages55{
    float: left;
    padding: 5px;
    display: grid;
    grid-gap: 20px;
    position: fixed;
    bottom:1%;
    left:78%;
  }

/*chapter 2 burning burial baptism*/


      .menuimages2{
        float: left;
        
        display: grid;
        grid-gap: 20px;
        position: fixed;
        bottom:1%;
        left:25%;
      }
        .menuimages3{
          float: left;
          padding: 5px;
          display: grid;
          grid-gap: 20px;
          position: fixed;
          bottom:1%;
          left:45%;
        }

        
      .menuimages4{
        float: left;
        padding: 5px;
        display: grid;
        grid-gap: 20px;
        position: fixed;
        bottom:1%;
        left:65%;
      }

        



/*rotate is part of arrow in menu*/

.rotate{
     -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    padding-right: 200px;
}



.intro{
font-family: voyageregular;
margin-top: 80px;
margin-bottom: 40px;
margin-left: 20px;
font-size: 60px;
line-height: 60px;
text-align: left;
/*max-width: 80%;*/
width: 95%;
}


.bijschrift{
font-family: blocus;
margin-top: 20px;


font-size: 20px;
line-height: 20px;
text-align: left;
/*max-width: 80%;*/
width: 100%;
}

.plat{
font-family: arial;
margin-left: 20px;
font-size: 15px;
line-height: 18px;
line-height: 20px;
text-align: left;
padding-bottom: 70%;
max-width: 80%;
}


.title{
margin-left: auto; 
margin-right: auto;    
width: 800px;
float: center;
font-family: voyageregular;
padding: 5px;


margin-bottom: 80px;
font-size: 60px;
text-align: center;
border:2px solid white;
text-decoration: none;
}
.title2{
margin-left: auto; 
margin-right: auto;    
width: 400px;
float: center;
font-family: voyageregular;
padding: 5px;

margin-top: 80px;
margin-bottom: 80px;
font-size: 60px;
text-align: center;
border:1px solid white;
text-decoration: none;
  /*display: inline-block;*/

}

.chapter{
font-family: blocusregular;
padding-top:20px;
font-size: 120px;
color: #1c1c1c;
-webkit-text-stroke-width: 1px;
-webkit-text-stroke-color: white;
text-align: center;
/*line-height: 0.1;*/
/*z-index: 4;*/
}
.chapter2{
font-family: voyageregular;
padding-top:20px;
font-size: 50px;
color: white;
text-align: center;
/*line-height: 0.1;*/
/*z-index: 4;*/
}

img{
  display:inline;

}


span {
  color: transparent;
  animation: blur 10s ease-out infinite;
  -webkit-animation: blur 10s ease-out infinite;
}

span:nth-child(1) {
  animation-delay: 0.1s;
  -webkit-animation-delay: 0.1s;
}
span:nth-child(2) {
  animation-delay: 0.2s;
  -webkit-animation-delay: 0.2s;
}
span:nth-child(3) {
  animation-delay: 0.3s;
  -webkit-animation-delay: 0.3s;
}
span:nth-child(4) {
  animation-delay: 0.4s;
  -webkit-animation-delay: 0.4s;
}
span:nth-child(5) {
  animation-delay: 0.5s;
  -webkit-animation-delay: 0.5s;
}
span:nth-child(6) {
  animation-delay: 0.6s;
  -webkit-animation-delay: 0.6s;
}
span:nth-child(7) {
  animation-delay: 0.7s;
  -webkit-animation-delay: 0.7s;

}



@keyframes blur {
  0%    {text-shadow:  0 0 100px #fff; opacity:0;}
  5%    {text-shadow:  0 0 90px #fff;}
  15%   {opacity: 1;}
  20%   {text-shadow:  0 0 0px #fff;}
  80%   {text-shadow:  0 0 0px #fff;}
  85%   {opacity: 1;}
  95%   {text-shadow:  0 0 90px #fff;}
  100%  {text-shadow:  0 0 100px #fff; opacity:0;}

}

@-webkit-keyframes blur {
  0%    {text-shadow:  0 0 100px #fff; opacity:0;}
  5%    {text-shadow:  0 0 90px #fff;}
  15%   {opacity: 1;}
  20%   {text-shadow:  0 0 0px #fff;}
  80%   {text-shadow:  0 0 0px #fff;}
  85%   {opacity: 1;}
  95%   {text-shadow:  0 0 90px #fff;}
  100%  {text-shadow:  0 0 100px #fff; opacity:0;}

}



.container {
  font-family: voyageregular;
  position: relative;
  width: 100%;
  float: center;
  padding-top: 20%;
  padding-bottom: 20%;
  border-bottom:1px solid white;
font-size: 100px;
padding-left: 5%;
padding-right: 5%;

}

.glitch {
  color: white;
  position: relative;
float: center;
width: 100%;


font-family: voyageregular;
/*font-size: 80px;*/
text-align: center;
line-height: 1;
  animation: glitch 5s 5s infinite;
}

.glitch::before {
  content: attr(data-text);
  position: absolute;
  left: -2px;
  text-shadow: 0px 0 ;
  background: none;
  overflow: hidden;
  top: 0;
  animation: noise-1 3s linear infinite alternate-reverse, glitch 5s 5.05s infinite;
}

.glitch::after {
  content: attr(data-text);
  position: absolute;
  left: 2px;
  /*text-shadow: -5px 0 lightgreen;*/
  text-shadow: 0px 0 ;
  background: none;
  overflow: hidden;
  top: 0;
  animation: noise-2 3s linear infinite alternate-reverse, glitch 5s 5s infinite;
}

@keyframes glitch {
  1%{
    transform: rotateX(10deg) skewX(90deg);
  }
  2%{
    transform: rotateX(0deg) skewX(0deg);
  }
}

@keyframes noise-1 {
  $steps: 30;
  @for $i from 1 through $steps {
    #{percentage($i*(1/$steps))} {
      $top: random(100);
      $bottom: random(101 - $top);
      clip-path: inset(#{$top}px 0 #{$bottom}px 0);
    }
  }
}

@keyframes noise-2 {
  $steps: 30;
  @for $i from 0 through $steps {
    #{percentage($i*(1/$steps))} {
      $top: random(100);
      $bottom: random(101 - $top);
      clip-path: inset(#{$top}px 0 #{$bottom}px 0);
    }
  }
}

.scanlines {
  overflow: hidden;
  mix-blend-mode: difference;
}

.scanlines::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;

  /*background: repeating-linear-gradient(
    to bottom,
    transparent 0%,
    rgba(255, 255, 255, 0.05) .5%,
    
    transparent 1%*/
  );

  animation: fudge 7s ease-in-out alternate infinite;
}


@keyframes fudge {
  from {
    transform: translate(0px, 0px);
  }
  to {
    transform: translate(0px, 2%);
  }
}
/*
.glow {
  @extend .glitch;
  text-shadow: 0 0 1000px rgb(223, 191, 191);
  color: transparent;
  position: absolute;
  top: 0;
}*/



@keyframes glitch-2 {
  1%{
    transform: rotateX(10deg) skewX(70deg);
  }
  2%{
    transform: rotateX(0deg) skewX(0deg);
  }
}




.bigfoot-footnote__button {
  position: relative;
  z-index: 5;
  top: -0.1em;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  display: inline-block;
  padding: 0.35em;
  margin: 0 0.1em 0 0.2em;
  border: none;
  border-radius: 0.3em;
  cursor: pointer;
  background-color: rgba(110, 110, 110, 0.2);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  font-size: 1rem;
  line-height: 0;
  vertical-align: middle;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  -webkit-transition-property: background-color;
          transition-property: background-color;
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
}
.bigfoot-footnote__button:hover, .bigfoot-footnote__button:focus {
  outline: none;
  background-color: rgba(110, 110, 110, 0.5);
}
.bigfoot-footnote__button:active {
  background-color: rgba(110, 110, 110, 0.5);
}
.bigfoot-footnote__button.is-active {
  background-color: #6e6e6e;
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}
.bigfoot-footnote__button:after {
  content: '';
  display: table;
  clear: both;
}

.bigfoot-footnote__button__circle {
  display: inline-block;
  width: 0.25em;
  height: 0.25em;
  margin-right: 0.25em;
  float: left;
}
.bigfoot-footnote__button__circle:last-child {
  margin-right: 0;
}

.bigfoot-footnote__container {
  display: inline-block;
  position: relative;
  text-indent: 0;
}

@media not print {
  .footnote-print-only {
    display: none !important;
  }
}
@media print {
  .bigfoot-footnote,
  .bigfoot-footnote__button {
    display: none !important;
  }
}
.bigfoot-footnote {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  display: inline-block;
  box-sizing: border-box;
  max-width: 90%;
  margin: 1.96924em 0;
  background: #fafafa;
  opacity: 0;
  border-radius: 0.5em;
  border: 1px solid #c3c3c3;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  line-height: 0;
  -webkit-transition-property: opacity, -webkit-transform;
          transition-property: opacity, transform;
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
  -webkit-transform: scale(0.1) translateZ(0);
          transform: scale(0.1) translateZ(0);
  -webkit-transform-origin: 50% 0;
      -ms-transform-origin: 50% 0;
          transform-origin: 50% 0;
}
.bigfoot-footnote.is-positioned-top {
  top: auto;
  bottom: 0;
}
.bigfoot-footnote.is-active {
  -webkit-transform: scale(1) translateZ(0);
          transform: scale(1) translateZ(0);
  opacity: 0.97;
}
.bigfoot-footnote.is-bottom-fixed {
  position: fixed;
  bottom: 0;
  top: auto;
  left: 0;
  right: auto;
  -webkit-transform: translateY(100%);
      -ms-transform: translateY(100%);
          transform: translateY(100%);
  width: 100%;
  margin: 0;
  border-radius: 0;
  opacity: 1;
  border-width: 1px 0 0;
  -webkit-transition: -webkit-transform 0.3s ease;
          transition: transform 0.3s ease;
}
.bigfoot-footnote.is-bottom-fixed.is-active {
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
}
.bigfoot-footnote.is-bottom-fixed .bigfoot-footnote__wrapper {
  margin: 0 0 0 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  max-width: 100%;
}
.bigfoot-footnote.is-bottom-fixed .bigfoot-footnote__wrapper,
.bigfoot-footnote.is-bottom-fixed .bigfoot-footnote__content {
  border-radius: 0;
}
.bigfoot-footnote.is-bottom-fixed .bigfoot-footnote__tooltip {
  display: none;
}
.bigfoot-footnote.is-scrollable:after {
  content: '';
  position: absolute;
  bottom: 0.3375em;
  left: 0.3375em;
  z-index: 14;
  display: block;
  height: 0.78125em;
  width: 0.625em;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTJweCIgaGVpZ2h0PSIxNXB4IiB2aWV3Qm94PSIwIDAgMTIgMTUiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgcHJlc2VydmVBc3BlY3RSYXRpbz0ieE1pbllNaW4iPgogICAgPGcgc3Ryb2tlPSJub25lIiBzdHJva2Utd2lkdGg9IjEiIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+CiAgICAgICAgPGcgaWQ9IkFycm93IiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgxLjAwMDAwMCwgMS4wMDAwMDApIiBzdHJva2U9ImJsYWNrIiBzdHJva2Utd2lkdGg9IjIiIHN0cm9rZS1saW5lY2FwPSJzcXVhcmUiPgogICAgICAgICAgICA8cGF0aCBkPSJNNSwwIEw1LDExLjUiIGlkPSJMaW5lIj48L3BhdGg+CiAgICAgICAgICAgIDxwYXRoIGQ9Ik0wLjUsNy41IEw1LjAyNzY5Mjc5LDEyLjAyNzY5MjgiIGlkPSJMaW5lIj48L3BhdGg+CiAgICAgICAgICAgIDxwYXRoIGQ9Ik00LjUsNy41IEw5LjAyNzY5Mjc5LDEyLjAyNzY5MjgiIGlkPSJMaW5lLTIiIHRyYW5zZm9ybT0idHJhbnNsYXRlKDcuMDAwMDAwLCAxMC4wMDAwMDApIHNjYWxlKC0xLCAxKSB0cmFuc2xhdGUoLTcuMDAwMDAwLCAtMTAuMDAwMDAwKSAiPjwvcGF0aD4KICAgICAgICA8L2c+CiAgICA8L2c+Cjwvc3ZnPgo=");
  background-size: cover;
  opacity: 0.1;
  transition-properties: opacity;
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
}
.bigfoot-footnote.is-scrollable .bigfoot-footnote__wrapper:before, .bigfoot-footnote.is-scrollable .bigfoot-footnote__wrapper:after {
  content: '';
  position: absolute;
  width: 100%;
  z-index: 12;
  left: 0;
}
.bigfoot-footnote.is-scrollable .bigfoot-footnote__wrapper:before {
  top: -1px;
  height: 1.1em;
  border-radius: 0.5em 0.5em 0 0;
  background-image: -webkit-linear-gradient(top, #fafafa 50%, rgba(250, 250, 250, 0) 100%);
  background-image: linear-gradient(to bottom, #fafafa 50%, rgba(250, 250, 250, 0) 100%);
}
.bigfoot-footnote.is-scrollable .bigfoot-footnote__wrapper:after {
  bottom: -1px;
  height: 1.2em;
  border-radius: 0 0 0.5em 0.5em;
  background-image: -webkit-linear-gradient(bottom, #fafafa 50%, rgba(250, 250, 250, 0) 100%);
  background-image: linear-gradient(to top, #fafafa 50%, rgba(250, 250, 250, 0) 100%);
}
.bigfoot-footnote.is-scrollable ::-webkit-scrollbar {
  display: none;
}
.bigfoot-footnote.is-fully-scrolled:after, .bigfoot-footnote.is-fully-scrolled:before {
  opacity: 0;
  -webkit-transition-delay: 0;
          transition-delay: 0;
}

.bigfoot-footnote__wrapper {
  position: relative;
  z-index: 14;
  width: 22em;
  display: inline-block;
  box-sizing: inherit;
  overflow: hidden;
  margin: 0;
  background-color: #fafafa;
  border-radius: 0.5em;
  line-height: 0;
}

.bigfoot-footnote__content {
  position: relative;
  z-index: 8;
  display: inline-block;
  max-height: 15em;
  padding: 1.1em 1.3em 1.2em;
  box-sizing: inherit;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  background: #fafafa;
  border-radius: 0.5em;
  -webkit-font-smoothing: subpixel-antialiased;
  line-height: normal;
}
.bigfoot-footnote__content img {
  max-width: 100%;
}
.bigfoot-footnote__content *:last-child {
  margin-bottom: 0 !important;
}
.bigfoot-footnote__content *:first-child {
  margin-top: 0 !important;
}

.bigfoot-footnote__tooltip {
  position: absolute;
  z-index: 12;
  box-sizing: border-box;
  margin-left: -0.65em;
  width: 1.3em;
  height: 1.3em;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  background: #fafafa;
  border: 1px solid #c3c3c3;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  border-top-left-radius: 0;
}
.is-positioned-bottom .bigfoot-footnote__tooltip {
  top: -0.65em;
}
.is-positioned-top .bigfoot-footnote__tooltip {
  bottom: -0.65em;
}
